In [19]:
import pandas as pd

df = pd.DataFrame({})
X_col_idxs = range(768)
dtypes = {idx: 'int8' for idx in X_col_idxs} #set dtypes beforehand to save memory
dtypes[768] = 'str'

df = pd.read_csv('./data/clean/2016_5k.csv', sep=',', header=None, dtype=dtypes, memory_map=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,759,760,761,762,763,764,765,766,767,768
0,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,+23
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,-23
2,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,+15
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,-18
4,0,0,0,-1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,+16

In [20]:
response = df.iloc[:,-1]
response = response.apply(lambda x : x[1:] if x.startswith("#") else x)

response = response.apply(lambda x: float(x[1:]) if x.startswith('+') 
                          else (-float(x[1:]) if x.startswith('-') else float(x)))

df.iloc[:,-1] = response

In [21]:
print(type(df.iloc[1,-1]))

<class 'numpy.float64'>